@import "../../../styles/colors.scss";

.cars-container {
  display: grid;
  width: 90%;
  gap: 20px;

  .pagination-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      margin-bottom: 2px;
    }
  }

  .viewer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-listing {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 2rem;

    .car-container {
      color: $text-color;
      background-color: $grey-300;
      padding: 25px;
      display: grid;
      gap: 10px;
      text-align: center;

      .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .image-container > img {
        width: 80%;
      }
    }

    .offer-button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      border: none;
      font-size: 24px;
      padding: 25px 30px;
      color: $text-color;
      background-color: $primary-color;
      transition: all 300ms ease-in-out;

      &:hover #value {
        display: inline;
      }

      &:hover #text {
        display: none;
      }

      #value {
        display: none;
        font-size: 24px;
        font-weight: bold;
        margin-right: 12px;
      }
    }

    .offer-button:focus,
    .offer-button:hover {
      border: none;
      color: $text-color;
      background-color: $hover-primary;
    }
  }
}
