@import "../../styles/colors.scss";

.payment-container {
  width: 50%;
  display: grid;
  gap: 20px;
  border-radius: 4px;
  box-shadow: $box-shadow;
  padding: 20px 30px;

  #message {
    padding: 25px, 50px;
  
    p {
      font-size: 24px;
      text-decoration: solid;
      font-weight: bold;
    }
  }
}
