@import "../../styles/colors.scss";

.table-container {
  width: 100%;

  .table-box {
    .table {
      margin: 20px 0;
    }
  }

  .search-container {
    display: flex;
    justify-content: space-between;
  }
}
