@import "../../../../styles/colors.scss";

.collapse {
  background-color: $white-900;

  .info {
    span {
      margin: 3px 0;
      font-size: 12px;
    }
  }

  .group-3 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .check-icon {
    color: $add-color;
    transform: scale(1.5);
  }

  .exclamation-icon {
    color: $primary-color;
    transform: scale(1.5);
  }

  .ant-collapse-item {
    box-shadow: $box-shadow;
    width: 100%;
    border-radius: 4px;
    background-color: $white-900;
  }
}
