@import "../../../styles/colors.scss";

#message {
  top: 80px;
  width: 60%;
  background-color: $white-900;
  box-shadow: $box-shadow;

  h1 {
    font-size: 56px;
    text-decoration: solid;
    font-weight: bold;
    margin: 30px;

    span {
      color: $primary-color;
    }
  }

  p {
    font-size: 24px;
    text-decoration: solid;
    font-weight: bold;
    margin: 30px;
  }
}
